.imageDiv {
    float: left;
    height: 550px;
    width: 500px;
}

.second {
    display: inline-block;
    font-family: 'Assistant', sans-serif;
}

/* h1 {
    font-family: 'Assistant', sans-serif;
} */

#nameDisplay {
    font-size: 70px;
}

#priceDisplay {
    font-size: 35px;
}

#descriptionDisplay {
    font-size: 30px;
    font-family: 'Assistant', sans-serif;
}